<div id="wrapper">
<%= render "layouts/head" %>
<%= render "layouts/menu" %>

<div id="content">
    <p>
        <h2> Title:
        <%= @book.title %>
        </h2>
    </p>
    <p>
        <h2> Author:
        <%= @book.author %>
        </h2>
    </p>
    <p>
        <%= @book.summary %>
    </p>

    <%= link_to 'Edit', edit_book_path(@book) %>
</div>

<%= render "layouts/footer" %>
</div>