<div id="wrapper">
    <%= render "layouts/head" %>
    <%= render "layouts/menu" %>

    <div id="content">
        <h1>New Posts!</h1>

        <%= render 'form' %>
        <%= link_to 'Back', posts_path %>
    </div>
    <%= render "layouts/footer" %>
</div>