<div id="wrapper">
<%= render "layouts/menu" %>

<div id="content">
    <p>
        <h2> Title:
        <%= @post.title %>
        </h2>
    </p>
    <p>
        <%= @post.text %>
    </p>

    <div id="comment">
        <h2>Comments</h2>
        <%= render @post.comments %>

        <h2>Add a comment here</h2>
        <%= render "comments/form" %>
    </div>

    <%= link_to 'Back', posts_path %> |
    <%= link_to 'Edit', edit_post_path(@post) %>
</div>
</div>